.explorer-button {

  /* background-color: red; */
  display: flex;
  flex-direction: column;

  /* align-self: center; */

  /* align-items: center; */
  justify-content: center;
}

.explorer-button button {
  background-color: gainsboro;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 20px;
  height: 60px;
  margin: 40px 8px 0;
}
