.explorer-button {
/* background-color: red; */
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  /* align-items: center; */
  justify-content: center;
}

.explorer-button button {
  font-size: 20px;
  margin: 40px 8px 0px;
  height: 60px;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: gainsboro;
}
