.details-page {
  display: flex;
  flex-flow: column wrap;
}

.header-detail {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.header-detail h1 {
  align-self: center;
  font-size: 25px;
  margin-right: 150px;
  margin-top: 8px;
}

.header-detail h2 {
  align-self: center;
  font-family: sans-serif;
  font-size: 17px;
  font-style: italic;
  margin-left: 14px;
  margin-top: -20px;
  order: 4;
  width: 100%;
}

.header-detail input {
  margin-bottom: 15px;
}

.ing-details {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
  margin-left: 15px;
  margin-top: 370px;
}

.ing-details h1 {
  margin-bottom: -2px;
}

.ing-details ul {
  list-style: square;
  margin-left: -20px;
}

.intructions {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  /* margin-bottom: -700px; */
}

.intructions h1 {
  margin-bottom: 5px;
}

.intructions p {
  margin-left: 2px;
  width: 330px;
}

.yt-video {
  display: flex;
  margin-bottom: 15px;
  margin-left: 9px;
  width: 95%;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}

.item {
  background-color: gainsboro;
  border: 2px solid gainsboro;
  border-radius: 10px;
  margin: 0 8px;
  width: 160px;
}

.recommended-area {
  overflow-x: hidden;
}

.recommended-list {
  display: flex;
}

.item img {
  background-color: gainsboro;
  border-radius: 7px 7px 0 100px;
  width: 100%;
}

.button-start-recipe button {
  align-items: center;
  background-color: gainsboro;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  font-size: 17px;
  height: 45px;
  justify-content: center;
  margin: 10px;
  width: 340px;
}
