.profile-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.email {
  font-size: 20px;
  font-style: italic;
}

.profile-button {
  align-items: center;
  background-color: gainsboro;
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  margin: 20px 8px 0;
  width: 340px;
}

header {
  width: 100%;
}
